.content{
  min-height: 100vh;
  background-color: hsl(0, 0%, 98%);
}
.container{
  max-width: 1440px;
  margin: 0 auto;
  @apply w-full
}

.dark{
  background-color: hsl(207, 26%, 17%);
  /* @apply bg-black  */
}
.header-dark{
  background-color: hsl(209, 23%, 22%);
  color: hsl(0, 0%, 100%);
}
.header-dark::placeholder{
  color: hsl(0, 0%, 100%);
  font-weight: 600;
  font-size: 14px;
}

.error{
  min-height: 100%;
}

.button{
  width: 10%;
  display: flex;
  justify-content: center;
  margin: 2em 0 4em; 
  align-items: center;
  padding: .5em 0;
}

.dark-desc{
  color: hsl(0, 0%, 100%);
}
.flag{
  width: 450px; 
  height: 350px; 
  object-fit:cover;
}
@media screen and (max-width: 1024px) {
    .flag{
      width: 100%;
    }
    .button{
      width: 20%;
    }
}
@media screen and (max-width: 430px) {
    .button{
      width: 50%;
    }
}